.item--unpacked {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1.5px 3.33px 0 rgba(0, 0, 0, 0.19);
  width: 140px;
  height: 180px;
}

.item--count--packed {
  font-size: 7px;
  color: white;
}

.item--count--size {
  font-size: 7px;
}

.item--icon {
  text-align: right;
}

.item--icon--filler {
  height: 24px;
}

.item--icon--packed {
  font-size: 12px;
  color: white;
}

.item--icon--size {
  font-size: 12px;
  color: #4996c9;
}

.item--image--size {
  width: 40px;
  height: 40px;
}

.item--input--count {
  width: 15px;
  height: 13px;
  font-size: 10px;
  font-weight: 350;
}

.item--pack--font {
  font-size: 8px;
  font-weight: 500;
}

.item--text--selected {
  border: 1px solid #4996c9;
  background-color: #4996c9;
  color: white;
}

.item--text--unselected {
  border: 1px solid #4996c9;
  background-color: white;
  color: #4996c9;
}

.uItem--title {
  background-color: white;
  height: 22px;
  overflow: scroll;
}

.uItem--buttons {
  position: absolute;
  bottom: 20px;
}

.uItem--title--font {
  font-size: 15px;
  font-weight: 700;
  color: #4996c9;
  padding-top: 10px;
  width: 100%;
}

.uItem--content-main {
  background-size: cover;
  background-position: center;
}

.item--title--color {
  color: #4996c9;
}

.item--icon-filler {
  height: 24px;
}

.item--description-flow {
  height: 14px;
  overflow-x: scroll;
  overflow-y: auto;
}

/* .item--unpacked .item--title--font {
  display: inline-block;
  vertical-align: top;
} */
