.tabs--main {
  padding-top: 1.3rem;
  margin-bottom: 1rem;
}

.tabs--header {
  font-size: 2rem;
}

.tabs-active {
  font-weight: 700;
}

.tabs-inactive {
  color: rgba(75, 72, 72, 0.8);
}

.tabs--trip {
  font-size: 1.5rem;
}
.tabs--details {
  font-size: 1.5rem;
}

.tabs--button {
  background: none;
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
}

.tabs--button:hover,
.tabs--button:focus {
  font-weight: 700;
}
