.uItem {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1.5px 3.33px 0 rgba(0, 0, 0, 0.19);
}
.uItem--unpacked {
  width: 140px;
  height: 180px;
}

.uItem--unpacked-md {
  width: 220px;
  height: 260px;
}

.uItem--unpacked-lg {
  width: 260px;
  height: 300px;
}

.uItem--unpacked-xlg {
  width: 300px;
  height: 340px;
}

.uItem--unpacked-xxlg {
  width: 340px;
  height: 380px;
}

.uItem--title {
  background-color: rgba(255, 255, 255, 0.7);
  height: 22px;
  overflow: scroll;
}

.uItem--buttons {
  /* margin-top: 11rem; */
  margin-top: 79%;
}

.uItem--button-main {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.uItem--button-left {
  background-color: #4996c9;
  border-left: 1px solid #4996c9;
  border-right: 1px solid #4996c9;
  border-top: 1px solid #4996c9;
  border-bottom: 1px solid #4996c9;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-top: 0.5rem;
}

.uItem--button-right {
  font-size: 1.1rem;
  background-color: white;
  border-left: 1px solid #4996c9;
  border-right: 1px solid #4996c9;
  border-top: 1px solid #4996c9;
  border-bottom: 1px solid #4996c9;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.uItem--button {
  height: 30px;
  width: 100px;
}

.uItem--button-md {
  height: 40px;
  width: 100px;
}

.uItem--button-lg {
  height: 50px;
  width: 100px;
}

.uItem--button-xlg {
  height: 48px;
  width: 100px;
}

.uItem--button-xxlg {
  height: 55px;
  width: 100px;
}

.uItem--quantity {
  background-color: #4996c9;
  border: 1px solid #4996c9;
}

.uItem--quantity-size {
  font-size: 1.4rem;
  font-weight: 700;
}

.uItem--title--font {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 10px;
  width: 100%;
}

.uItem--content-main {
  background-size: cover;
  background-position: center;
}
