@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bundleBlue: #4896c9;
  --denimBlue: #2541b2;
  --lightLav: #ecccff;
  --beeYellow: #eec643;
  --smokeBlack: #141414;
  --huate: #eef0f2;
  --opacity80: rgba(251, 251, 251, 0.8);
  --lightGrey: #c6c6c6;
}

.mali300 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.mali400 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.mali700 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.mali900 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.lightGreyDS {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.radius18 {
  border-radius: 9px;
}

.radius9 {
  border-radius: 9px;
}

.bgBundleBlue {
  background: var(--bundleBlue);
}

.bgOpacity80 {
  background: var(--opacity80);
}

.bgBlueLavendar {
  background: linear-gradient(var(--bundleBlue), var(--lightLavendar));
}
