@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --white80: rgba(251, 251, 251, 0.8);
  --huate: #eef0f2;
  --huate80: rgba(238, 240, 242, 0.8);
  --babyBlue: #c3d8e7;
  --babyBlue50: rgba(73, 150, 201, 0.5);
  --bundleBlue: #4996c9;
  --bundleBlue70: rgba(73, 150, 201, 0.7);
  --denimBlue: #2541b2;
  --smokeBlack: #141414;
  --smokeGrey: #9d9d9d;
  --smokeGrey30: rgba(157, 157, 157, 0.3);
}

.mali300 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.mali400 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.mali700 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.mali900 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.lightGreyDS {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.radius18 {
  border-radius: 9px;
}

.radius9 {
  border-radius: 9px;
}

.bgBundleBlue {
  background: var(--bundleBlue);
}

.bgOpacity80 {
  background: var(--opacity80);
}

.bgBlueLavendar {
  background: linear-gradient(var(--bundleBlue), var(--lightLavendar));
}
